*{margin:0px;padding:0px;border:0px;}
body{font-size:36px;
background-color:rgb(25,25,25);color:rgb(192,192,192);}
.navigation{background-color:rgb(192,192,192);
}
.top p{padding:20px;font-family:Noto Sans TC;}
.bottom{padding:20px;color:rgb(229,229,229);background-color:rgb(63,63,63);font-family:Noto Sans TC;}
.separator img{
transform:skewY(3deg) translate(0px,50px);}
.contact{animation: hi 2s;
animation-iteration-count: infinite;}
@keyframes hi{
	0%{transform:translate(0px,8px) rotate(0deg);}
	10%{transform:translate(5px,0px) rotate(10deg);}
	20%{transform:translate(-4px,-3px) rotate(-10deg);}
	30%{transform:translate(3px,-5px) rotate(10deg);}
	40%{transform:translate(-2px,-8px) rotate(-10deg);}
	50%{transform:translate(0px,-9px) rotate(0deg);}
	60%{transform:translate(2px,-8px) rotate(10deg);}
	70%{transform:translate(-3px,-5px) rotate(-10deg);}
	80%{transform:translate(4px,-3px) rotate(10deg);}
	90%{transform:translate(-5px,0px) rotate(-10deg);}
	100%{transform:translate(0px,8px) rotate(0deg);}
}
.contact:hover{animation:hi 0.4s;
animation-iteration-count:infinite;}
.acads:hover{animation: jump 0.5s;
animation-iteration-count: infinite;}
@keyframes jump{
	10%{transform:translate(0px,-6.18px);}
	20%{transform:translate(0px,-11.76px);}
	30%{transform:translate(0px,-16.18px);}
	40%{transform:translate(0px,-19.02px);}
	50%{transform:translate(0px,-20px);}
	60%{transform:translate(0px,-19.02px);}
	70%{transform:translate(0px,-16.18px);}
	80%{transform:translate(0px,-11.76px);}
	90%{transform:translate(0px,-6.18px);}
	100%{transform:translate(0px,0px);}
}
.home:hover{animation: blonk 1s;
animation-iteration-count: infinite;}
@keyframes blonk{
	10%{transform:rotate(-30deg) scale(0.88,0.88);}
	20%{transform:rotate(30deg) scale(0.76,0.76);}
	25%{transform:rotate(0deg) scale(0.7,0.7);}
	30%{transform:rotate(-10deg) scale(0.64,0.64);}
	40%{transform:rotate(10deg) scale(0.52,0.52);}
	50%{transform:rotate(-30deg) scale(0.4,0.4);}
	60%{transform:rotate(30deg) scale(0.28,0.28);}
	70%{transform:rotate(-10deg) scale(0.16,0.16);}
	75%{transform:rotate(10deg) scale(0.1,0.1);}
	80%{transform:rotate(-30deg) scale(0.28,0.28);}
	90%{transform:rotate(30deg) scale(0.64,0.64);}
	100%{transform:translate(0px,0px);}
}
.mainhead{font-family:Oxygen;}
.imago{text-align:center;
margin:10% 0% 0% 20%;
font-size:14px;
font-family:Roboto;}
.Navigation table tr th:hover{
	background-color:rgb(230,230,230);
	transition-duration: 0.5s;
	transition-timing-function:ease-in-out;
}
.interests:hover{animation: spin 0.8s;
animation-iteration-count:infinite;}
@keyframes spin{
	10%{transform:rotate(-0.415rad);}
	20%{transform:rotate(-0.895rad);}
	30%{transform:rotate(-1.5rad);}
	40%{transform:rotate(-2.262rad);}
	50%{transform:rotate(-3.141rad);}
	60%{transform:rotate(-4.021rad);}
	70%{transform:rotate(-4.783rad);}
	80%{transform:rotate(-5.388rad);}
	90%{transform:rotate(-5.868rad);}
	100%{transform:rotate(-6.283rad);}
}
.bottom ul{padding-left:40px}
.bottom a{color:rgb(229,229,229);text-decoration:none;cursor:default;}
.top p .sp{font-size:72px;color:rgb(102,153,204)}
.top p .st{text-decoration:line-through}
.acaddesc{font-family:Oxygen;padding:20px 30px 20px 30px;font-size:48px;}
.para{font-family:Noto Sans TC; padding:20px; text-align:right;}
.para span{margin:20px 10px 20px 30px;color:rgb(178,204,230);font-family:Oxygen;font-size:48px;font-weight:700;}
.para span:hover{
text-shadow:2px 2px 5px rgb(217,230,242);}
.bottom p{margin:20px 10px 20px 30px;color:rgb(178,204,230);font-family:Oxygen;font-size:48px;font-weight:700;}
.bottom p:hover{text-shadow:2px 2px 5px rgb(217,230,242);}
.bottom ul li span{color:rgb(102,153,204);}
.inttop{font-family:Roboto;padding:20px 30px 20px 30px;font-size:48px;}
.separatorinverse img{
transform:skewY(-3deg) translate(0px,36px);}
.blue{padding:20px;color:rgb(255,255,229);background-color:rgb(0,0,64);font-family:Noto Sans TC; text-align:right;}
.blue p{margin:20px 10px 20px 30px;color:rgb(255,255,128);font-family:Oxygen;font-size:48px;font-weight:700;}
.blue p:hover{text-shadow:2px 2px 5px rgb(255,255,192);}
.separatorinverse{background-color:rgb(63,63,63);}
.separatorn img{
transform:skewY(3deg) translate(0px,50px);}
.separatorn{background-color:rgb(0,0,64);}
.cyan{padding:20px;color:rgb(255,255,229);background-color:rgb(0,32,32);font-family:Noto Sans TC;}
.cyan p{margin:20px 10px 20px 30px;color:rgb(255,128,128);font-family:Oxygen;font-size:48px;font-weight:700;}
.cyan p:hover{text-shadow:2px 2px 5px rgb(255,192,192);}
.para p{font-size:10px;margin:0px 23px 0px 0px;}
.Navigation table tr th{
	transition: background-color 0.3s ease-in-out;
}
i{color:#ffffff;margin:140px; vertical-align:top}
.contacts a img{margin:160px;}
.contacts a img:hover{animation: spin 0.8s;
animation-iteration-count:infinite;}
i:hover{animation: flip 0.8s;
animation-iteration-count:infinite;}
@keyframes flip{
	10%{transform:scaleX(0.951);}
	20%{transform:scaleX(0.809);}
	30%{transform:scaleX(0.588);}
	40%{transform:scaleX(0.309);}
	50%{transform:scaleX(0);}
	60%{transform:scaleX(0.309);}
	70%{transform:scaleX(0.588);}
	80%{transform:scaleX(0.809);}
	90%{transform:scaleX(0.951);}
	100%{transform:scaleX(1);}
}
.top a{text-decoration:none;color:#0000ff;}
.para a{text-decoration:none;color:#0000ff;}
.secretimage{
display:block;
max-width:30%;
max-height:100%;
border-bottom-left-radius:10px;
border-top-right-radius:10px;
border-bottom-right-radius:10px;}
.imagelul{
border-bottom-left-radius:10px;
border-top-right-radius:10px;
border-bottom-right-radius:10px;
transition: box-shadow 0.5s ease-in-out;
margin:10% 0% 0% 20%;
}
.imagelul:hover{box-shadow: 0px 0px 40px #CCCCCC;
transition: box-shadow 0.5s ease-in-out;}
.imagelol{
border-bottom-left-radius:10px;
border-top-right-radius:10px;
border-bottom-right-radius:10px;
transition: box-shadow 0.5s ease-in-out;
margin:5% 0% 10% 0%;
}
.imagelol:hover{box-shadow: 0px 0px 40px #CCCCCC;
transition: box-shadow 0.5s ease-in-out;}
.headcon{margin:20px 10px 20px 30px;}
.headcon p{font-family:Oxygen;color:rgb(102,153,204);font-size:60px;font-weight:700;}
.ctpage{background-color:#282828;}
